<h1>Book Collection</h1>

<p id="notice"><%= notice %></p>

<%= link_to 'Add New Book', new_book_path %>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %>
      |
      <%= link_to 'Edit', edit_book_path(book) %>
      |
      <%= link_to 'Delete', confirm_delete_book_path(book) %>
    </li>
  <% end %>
</ul>