<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
    <% if notice.present? %><p id="notice"><%= notice %></p><% end %>
    <% if alert.present? %><p id="alert"><%= alert %></p><% end %>
  </body>
</html>
